@model LoginModel

@{
    ViewBag.Title = "Вхід";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Login" asp-controller="Account" method="post">
    <input type="hidden" asp-for="ReturnUrl" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ім'я користувача</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Пароль</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Увійти</button>
    </div>
</form>

<div class="text-center mt-3">
    <p>Ще не маєте акаунту? <a asp-action="Register" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">Зареєструватися</a></p>
</div>